/* Mech Overview Page Additional CSS */

/* .control-left {
  padding-left: 16px;
  border: 2px solid purple;
}

.control-right {
  padding-right: 16px;
  justify-self: end;
  border: 2px solid purple;
}

.control-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border: 2px solid red;
} */

.nav-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2rem;
}

.previous,
.next {
  font-family: var(--font-title);
  font-size: 1.5rem;
  border: none;
  color: var(--text-3);
  height: 4rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.previous {
  background-image: url('arrow-prev2.svg');
}

.next {
  background-image: url('arrow-next2.svg');
}

.hangar {
  border: none;
  background-image: url('hangar-icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.info-grid {
  display: grid;
  justify-content: start;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2px;
}

.column-left {
  color: var(--text-4);
  justify-self: end;
}
.column-right {
  justify-self: start;
  padding-left: 8px;
}

.decoration {
  display: inline-block;
  background-image: url('lines3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 95%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-title);
  font-weight: var(--font-weight-hero);
  letter-spacing: -var(--letter-spacing-title);
  line-height: 0.9em;
}

.overview-h2 {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-4);
  text-align: center;
  margin-right: 9.75rem;
}

@media (max-width: 848px) {
  .mech-grid {
    grid-template-columns: 1fr;
  }
  .decoration {
    padding-block: 32px;
    font-size: clamp(2rem, 10vw, 7.8125rem);
  }
}

@media (min-width: 848px) {
  .decoration {
    font-size: clamp(3rem, 7vw, 7.8125rem);
    margin-left: -4rem;
  }
  .overview-h2 {
    padding-top: 2rem;
  }
}

/* reset stuff */

body {
  display: grid;
  place-items: center;
}
