<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" />
    <title>MechIndex</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/app.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}" />
  </head>
  <body>
    <p>just testing</p>
    <div class="image-grid">
      {% for image in mech_images %}
        <div>
          <p> {{ image.chassis }}</p>
          <img
          class = "image-temp"
          src="{{ url_for('static', path='/mech_thumbnails/' + image.thumbnail ) }}"
          alt="TWO Battlemech"
          width="200"
          height="200"
        />
          <!-- <p> {{ image.thumbnail }}</p> -->

      {% endfor %}
    </div>
  </body>
</html>