<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MechIndex</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/app.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}" />
  </head>
  <body>
    <div class="image-grid">
      {% for image in mech_images %}
        <div>
          <img
          class = "image-temp"
          src="{{ url_for('static', path='/mech_images/' + image.fullsize ) }}"
          alt="TWO Battlemech"
          width="500"
          height="500"
        />
      {% endfor %}
    </div>
  </body>
</html>