<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" />
    <title>MechIndex</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/app.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1 class="main-title">Mech Index</h1>
      <div class="lines">
        <svg
          width="1138"
          height="21"
          viewBox="0 0 1138 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 19H1138"
            stroke="#899D82"
            stroke-opacity="0.8"
            stroke-width="3"
          />
          <path
            d="M0 10H1138"
            stroke="#899D82"
            stroke-opacity="0.6"
            stroke-width="2"
          />
          <path
            d="M0 1H1138"
            stroke="#899D82"
            stroke-opacity="0.4"
            stroke-width="2"
          />
        </svg>
      </div>
    </div>

    <section>
      <div class="card-list">
        {% for mech in mech_cards %}
        <div class="card">
          <div class="radial-gradient">
            <img
              class="card-image"
              src="{{ url_for('static', path='/mech_thumbnails/' + mech.thumbnail ) }}"
              alt="TWO Battlemech"
              width="200"
              height="200"
            />
          </div>
          <div>
            <div class="content">
              <h3 class="card-title">{{ mech.chassis }}</h3>
              <div class="info">
                <p>{{ mech.weightClass}}</p>
                <p class="align-right">{{ mech.year }}</p>
              </div>
            </div>

            <div class="controls">
              <a href="mechs/{{ mech.id }}" class="button primary">
                Overview
                <svg
                  width="18"
                  height="10"
                  viewBox="0 0 18 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.1667 1.6665L16.5 4.99984M16.5 4.99984L13.1667 8.33317M16.5 4.99984L1.5 4.99984"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
