<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MechIndex</title>
    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/open-props/normalize.min.css"
    />
  </head>
  <body>
    <div class="hero">
    <h1 class="heading">Mech Viewer</h1>
    <p>
      A big list of Battlemechs. Images are based off the Mech Warrior Online versions, but stats are just randomly selected from official Batteltech stats
    </p>
  </div>
  <div>
    <p>Find a mech</p>
  </div>
    <!-- <form action="/type">
      <label>by Type</label>
      <select name="type1">
        (% for role in roles %) (% if type == type1 %)
        <option value="{{type}}" selected>{{type}}</option>
        (% else %)
        <option value="{{type}}"></option>
        (% endif %) (% endfor%)</select
      ><br /><br />
      <button type="submit">Search</button>
    </form>
    <form action="/">
      <button type="submit">Reset</button>
    </form> -->
    <!-- <div>{{type}}</div> -->
    <div class="gallery">
      (% for mech in mechs %)
      <div><p>
        {{ mechs }}
      </p></div>
      (% endfor %)
    </div>
</html>
