<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MechIndex</title>
    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    </link rel="stylesheet" href="sql_app/templates/app.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/open-props/normalize.min.css"
    />
  </head>
  <body>
    <div class="hero">
    <h1 class="heading">Mech Viewer</h1>
    <p>
      A big list of Battlemechs. Images are based off the Mech Warrior Online versions, but stats are just randomly selected from official Batteltech stats
    </p>
  </div>
  <div>
    <p>Find a mech</p>
  </div>

  <section class="section">
    <ul class="card-list">
      <li>
      {% for mech in mech_cards %}
      <div class="card">
        <div class="visual">
          <img
            class="card-image"
            src=""
            alt="TWO Battlemech"
            width="160"
            height="160"
          />
        </div>
        <div class="content">
          <div class="meta">
            <div class="card-header">
              <h3 class="title">{{ mech.shortName }}</h3>
            </div>
            <p class="desc">{{ mech.weightClass}}</p>
            <p class="desc">{{ mech.year }}</p>
          </div>

          <div class="controls">
            <a href="#" class="button-link primary">
              Details
              <svg
                width="18"
                height="10"
                viewBox="0 0 18 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.1667 1.6665L16.5 4.99984M16.5 4.99984L13.1667 8.33317M16.5 4.99984L1.5 4.99984"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>
</section>
</html>
